<form id="theform">
  <input><br>
  <br>
  <div class="myonoffswitch">
    <input type="checkbox" name="myonoffswitch" class="myonoffswitch-checkbox" id="myonoffswitch" checked>
    <label #dali id="d" class="myonoffswitch-label" for="myonoffswitch" tabindex="0">
      <span class="myonoffswitch-inner"></span>
      <span class="myonoffswitch-switch"></span>
    </label>
  </div><br>
  <input><br>
  <input type="checkbox" id="normal-checkbox"><label for="normal-checkbox">Normal Checkbox</label>
</form>
