<!--<app-todo></app-todo>-->
<!--<app-reactive></app-reactive>-->
<!--<app-template></app-template>-->
<!--&lt;!&ndash;<app-parent></app-parent>&ndash;&gt;-->
<!--<router-outlet></router-outlet>-->


<!--<app-handsontable></app-handsontable>-->
<!--<router-outlet></router-outlet>-->



<!--<app-reactive></app-reactive>-->
<!--<app-ngx-slelec-ex></app-ngx-slelec-ex>-->
<!--<app-filtres-example></app-filtres-example>-->


<div>
  <br>
  <span>Example HostListener and HostBinding Joke List</span>
  <joke-list></joke-list>
</div>

<br><br><br><br><br>

<div>
  <br>
  <span>Anather example HostListener and HostBinding</span>
  <app-hostlintener-hostbinding></app-hostlintener-hostbinding>
</div>

<br><br><br><br><br>
<app-on-off-switch></app-on-off-switch>
